body {
	font-family: 'Open Sans', sans-serif;
}

td, th {
	text-align: right;
}

table#freqtable {
	border-spacing: 0;
	border-collapse: collapse;
	display: none;
}

span.ital {
	font-style: italic;
}

tr:not(.title) {
	cursor: pointer;
}

tr:not(.title):hover {
	background-color: lightgray;
}

tr.title * {
	border-collapse: true;
	border-bottom: 1px solid black;
	font-weight: normal;
	padding: 5px;
}

div#copiedtext {
	display: none;
	width: 723px;
}

div#right {
	float: left;
}

div#left {
	float: left;
	margin-right: 50px;
	margin-left: 50px;
}

p#title {
	font-size: 24px;
}

p#description {
	text-align: left;
	width: 723px;
}

div#top {
	margin-left: 50px;
}

p.title {
	text-align: center;
}

.selected {
	background-color: lightgray;
}

.clicked {
	background-color: gray;
}

.yellow {
	background-color: #F3C300;
}
.purple {
	background-color: #875692;
}
.orange {
	background-color: #F38400;
}
.lightblue {
	background-color: #A1CAF1;
}
.red {
	background-color: #BE0032;
}
.buff {
	background-color: #C2B280;
}
.green {
	background-color: #008856;
}
.purplishpink {
	background-color: #E68FAC;
}
.blue {
	background-color: #0067A5;
}
.yellowishpink {
	background-color: #F99379;
}
.violet {
	background-color: #604E97;
}
.orangeyellow {
	background-color: #F6A600;
}
.purplishred {
	background-color: #B3446C;
}
.greenishyellow {
	background-color: #DCD300;
}
.reddishbrown {
	background-color: #882D17;
}
.yellowgreen {
	background-color: #8DB600;
}
.yellowishbrown {
	background-color: #654522;
}
.reddishorange {
	background-color: #E25822;
}
.olivegreen {
	background-color: #2B3D26;
}