body {
	font-family: 'Open Sans', sans-serif;
}

td, th {
	text-align: right;
}

table#freqtable {
	border-spacing: 0;
	border-collapse: collapse;
	display: none;
}

tr:not(.title) {
	cursor: pointer;
}

tr:not(.title):hover {
	background-color: lightgray;
}

tr.title * {
	border-collapse: true;
	border-bottom: 1px solid black;
	font-weight: normal;
	padding: 5px;
}

div#copiedtext {
	display: none;
	width: 723px;
}

div#right {
	float: left;
}

div#left {
	float: left;
	margin-right: 50px;
	margin-left: 50px;
}

p#title {
	font-size: 24px;
}

p#description {
	text-align: left;
	margin-left: 50px;
	width: 723px;
}

p.title {
	text-align: center;
}

.selected {
	background-color: lightgray;
}

.clicked {
	background-color: gray;
}